.login-modal {
  .ant-modal {
    width: 480px;
    .login-title {
      color: #18191a;
      text-align: center;
      font-family: 'Source Han Sans CN';
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .ant-modal-content {
      width: 100%;
      background: url('./imgs/loginBg.png') lightgray 50% / cover no-repeat;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      padding: 2.5rem;
    }
    .ant-modal-body {
      .ant-input-affix-wrapper-lg {
        border-radius: 4px;
        padding: 14px 16px;
      }
      .ant-btn-lg {
        height: 52px;
        border-radius: 4px;
        padding: 14px 16px;
      }
    }
  }
}
