# App
PORT=60400
OLLAMA_BASE_URL=http://127.0.0.1:11434

# Primary database
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=la-agent-py
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
SQLALCHEMY_DATABASE_URI=postgresql://your_user:your_password@127.0.0.1:5432/la-agent-py

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=your_password
REDIS_URL=redis://:your_password@127.0.0.1:6379/0

# Pgvector
PGVECTOR_HOST=127.0.0.1
PGVECTOR_PORT=5433
PGVECTOR_DB=la-agent-vector
PGVECTOR_USER=your_user
PGVECTOR_PASSWORD=your_password
PGVECTOR_DATABASE_URI=postgresql://your_user:your_password@127.0.0.1:5433/la-agent-vector
